body
{
	font-family: 'Roboto Condensed';
}

div
{
	display: block;
}

#header
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 30;

	background-color: rgb(32, 42, 50);
}

.container
{
	position: relative;

	max-width: 1152px;
	margin: 0 auto;
}

.navbar
{
	min-height: 7rem;

	flex-grow: 1;
	flex-shrink: 0;

	display: flex;
}

.navbar-right
{
	align-items: stretch;
	justify-content: right;

	position: relative;

	margin-left: auto;

	display: flex;
}

.navbar-item
{
	align-items: center;

	padding:  .5rem .75rem;
	flex-grow: 0;
	flex-shrink: 0;

	position: relative;

	display: flex;
}

.navbar-item.link
{
	margin: 0 15px;

	color: white;
	font-size: 17pt;

	text-decoration: none;
}

.navbar-item.link:hover
{
	background-color: rgb(58, 71, 81);
}